*{
    font-family: 'Roboto', sans-serif;
}
table{
    border-collapse:collapse;
}
td{
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}
.table_head{
    padding-bottom: 25px;
    font-size: 21px;
}
.cell{
    vertical-align: top;
    width: 120px;
    height: 100px;
    font-size: 12px;
    color:grey;
    text-align: right;
    padding: 0 auto;  
}
.cal_header{
    width: 120px;
    text-align: center;
    color:grey;
}
.today{
    background-color: aquamarine;
}