 #run{
     background-color: $cold-mainColor;
     color: white;
    };
 #swim{
     background-color: $warm-mainColor;
     color: white;
    };
 #cycle{
     background-color: $cold-supportingColor;
     color: white;
    };
 #fitness{
     background-color: $warm-supportingColor;
     color: white;
    };
 #yoga{
     background-color: $extra;
     color: white;
    };
 #pilates{
     background-color: $warm-supportingColor;
     color: white;
    };
 #walk{
     background-color: $warm-mainColor;
     color: white;
    };
 #weight_training{
     background-color: $extra;
     color: white;
    };
 #climbing{
     background-color: $cold-supportingColor;
     color: white;
    };