.kg_result{
    color: $warm-mainColor;
}
.bmi_result{
    color: $warm-mainColor;
}
#suggesting_button{
    width: 10em;
    margin-top: 2em;
}
.left_row{
    @include rows;
}
.right_row{
    @include rows;
}