$cold-mainColor: #60CCA7;
$warm-mainColor: #D51DFF;
$cold-supportingColor: #16B27D;
$warm-supportingColor: #FFCE54;
$extra: #A467B2;
$borderColor: lightgray;
$todaysColor: #60CCA7;
$fontColor: grey;

