@import'variables';
@import'modules';
@import'header';
@import'main_calc';
@import'main_calendar';
@import'footer';

$DEBUG: true;

* {
    font-family: 'Roboto', sans-serif;
    color: $fontColor;
    @if $DEBUG {
        border: 1px dotted gray;
    }
}
.main_container{
    width: 100%;
    margin: auto;
    display: flex;
    //align-items: center;
    flex-direction: column;
    justify-content: center;
}
.container {
    width: 100%;
}

.workspace {
    display: flex;
    flex-direction: row;
    justify-content: center;   
}