@import'variables';
@import'modules';
@import'header';
@import'main_calc';
@import'main_calendar';
@import'footer';
@import'activity_colors';
@import'bmi';

* {
    font-family: 'Roboto', sans-serif;
    color: $fontColor;
}
.main_container{
    width: 70em;;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
    width: 100%;
    height: auto;
    justify-content: center;
}